* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}


header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #333;
  color: white;
}


.logo {
  font-size: 1.5rem;
  font-weight: bold;
}


nav ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.hero {
    background-image: url(background1.jpg);
  padding: 6rem 2rem 4rem;
  min-height: 60vh;
  background-size: contain;
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #ffffff;
}

.hero p {
  font-size: 1.2rem;
  color: #ffffff;
  margin-bottom: 2rem;
}


.info {
  background: white;
  text-align: center;
  padding: 4rem 2rem;
  margin-top: 2rem;
  font-size: 2rem;
  color: #333;
}